<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    
    <!-- Always force latest IE rendering engine or request Chrome Frame -->
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    
    <!-- Use title if it's in the page YAML frontmatter -->
    <title><%= current_page.data.title || "The Middleman" %></title>
    
    <%= stylesheet_link_tag "normalize", "all" %>
    <%= javascript_include_tag  "all" %>
  </head>
  
  <body class="<%= page_classes %>">
    <div class='body-wrapper'>
      <div class="navbar default" style="display: block;">
        <div class="navbar-header">
          <div class="container">
            <div class="basic-wrapper"> <a class="btn responsive-menu pull-right" data-toggle="collapse" data-target=".navbar-collapse"><i></i></a>
              <div class="navbar-brand"><a href="index.html"><%= image_tag 'ay3m_logo_horizontal.png' %></a></div>
            </div>
            <nav class="collapse navbar-collapse pull-right">
              <ul class="nav navbar-nav">
                <li class="current"><a href="index.html">Home</a></li>
                </li>
                <li><a href="class_schedule.html"><%= t("menu.schedule_title") %></a>
                <!-- <li class="dropdown"><a href="class_schedule.html" class="dropdown&#45;toggle js&#45;activated"><%= t("menu.schedule_title") %></a> -->
                <!--   <ul class="dropdown&#45;menu"> -->
                <!--     <li><a href="class_schedule.html"><%= t('menu.schedule_title') %></a></li> -->
                <!--     <li><a href="class_types.html"><%= t('menu.class_types') %></a></li> -->
                <!--     <li><a href="beginners_info.html"><%= t('menu.beginners_info') %></a></li> -->
                <!--     <li><a href="prices.html"><%= t('menu.prices') %></a></li> -->
                <!--   </ul> -->
                <!-- </li> -->
                <li><a href="teachers.html"><%= t("menu.about_ay3") %></a>
                <!-- <li class="dropdown"><a href="#" class="dropdown&#45;toggle js&#45;activated"><%= t('menu.about_ay3') %></a> -->
                <!--   <ul class="dropdown&#45;menu"> -->
                <!--     <li><a href="teachers.html"><%= t('menu.teachers') %></a></li> -->
                <!--     <li><a href="space.html"><%= t('menu.space') %></a></li> -->
                <!--   </ul> -->
                <!-- </li> -->
                <!-- <li><a href="events.html"><%= t('menu.events') %></a> -->
                <!-- </li> -->
                <li class="dropdown"><a href="#" class="dropdown-toggle js-activated"><%= t('menu.media') %></a>
                  <ul class="dropdown-menu">
                    <li><a href="gallery.html"><%= t('menu.pics') %></a></li>
                    <li><a href="videos.html"><%= t('menu.videos') %></a></li>
                  </ul>
                </li>
                <!-- <li><a href="events.html"><%= t('menu.events') %></a> -->
                <!-- </li> -->

                <!-- <li><a href="blog.html"><%= t('menu.blog') %></a> -->
                <!-- </li> -->
                <li><a href="contact.html"><%= t('menu.contact') %></a>
                </li>
                <li class="dropdown social-dropdown pull-right">
                  <div class="share btn btn-default dropdown-toggle" data-toggle="dropdown"><i class="icon-heart-1"></i></div>
                  <ul class="button-group dropdown-menu dropdown-menu-right share-links">
                    <li><a href="http://facebook.com/ashtangayogatrojmiasto" class="btn"><i class="icon-s-facebook"></i></a></li>
                  </ul>
                </li>
                <!--/social-dropdown -->
              </ul>
              <!--/.navbar-nav -->
            </nav>     
            <!--/.nav-collapse -->   
          </div>
          <!--/.container --> 
        </div>
        <!--/.navbar-header --> 
      </div>
      <div class='offset'></div>
      <%= yield %>
    </div>

<footer class="footer black-wrapper">
  <div class="sub-footer">
    <div class="container">
      <p class="pull-left">© 2015 Ashtanga Yoga 3miasto. Wszelkie prawa zastrzeżone.</p>
    </div>
  </div>
</footer>
</body>
</html>
