<div class="dark-wrapper page-title">
  <div class="container inner">
    <h1>Ashtanga Vinyasa Yoga</h1>
  </div>
  <!--/.container -->
</div>
<div class='container inner'>
  <h3><%= t('ashtanga.meaning_header') %></h3>
<p>
<%= t('ashtanga.meaning_1') %>
<%= t('ashtanga.meaning_ashtanga') %>
<%= t('ashtanga.meaning_vinyasa') %>
<%= t('ashtanga.meaning_yoga') %>
<%= t('ashtanga.meaning_finish') %>
</p>
<h3><%= t('ashtanga.practice_header') %></h3>
<p>
<%= t('ashtanga.practice_1') %>
<ul>
  <li><%= t('ashtanga.practice_sn') %></li>
  <li>
    <%= t('ashtanga.practice_md') %>
  </li>
  <li> <%= t('ashtanga.practice_fn') %>
  </li>
</ul>
</p>
<h3><%= t('ashtanga.tristhana_header') %></h3>
<p>
<%= t('ashtanga.tristhana_1') %>
</p>
<h3><%= t('ashtanga.mysore_header') %></h3>
<p>
<%= t('ashtanga.mysore_content') %>
</p>
<h3>Parampara</h3>
<p>
<%= t('ashtanga.parampara_content') %>
</p>
</div>
