<div class="dark-wrapper page-title">
  <div class="container inner">
    <h1><%= t('menu.schedule_title') %></h1>
  </div>
  <!--/.container -->
</div>
<div class='container inner'>
  <p><%= t('temporary.when_open') %><p>
  <p><%= t('temporary.classes_now') %></p>

  <!-- <table class='table'> -->
  <!--   <thead> -->
  <!--     <th><%= t('days.monday') %></th> -->
  <!--     <th><%= t('days.tuesday') %></th> -->
  <!--     <th><%= t('days.wednesday') %></th> -->
  <!--     <th><%= t('days.thursday') %></th> -->
  <!--     <th><%= t('days.friday') %></th> -->
  <!--     <th><%= t('days.saturday') %></th> -->
  <!--     <th><%= t('days.sunday') %></th> -->
  <!--   </thead> -->
  <!--  -->
  <!--   <tbody> -->
  <!--     <tr> -->
  <!--       <td> -->
  <!--         <span class='time'>06:30&#45;10</span> Mysore style (A &#38; E) -->
  <!--         <span class='time'>20&#45;20:30</span> Meditation (A)* -->
  <!--       </td> -->
  <!--       <td> -->
  <!--         <span class='time'>06:30&#45;10</span> Mysore style (A &#38; E) -->
  <!--       </td> -->
  <!--       <td> -->
  <!--         <span class='time'>06:30&#45;10</span> Mysore style (A &#38; E) -->
  <!--         <span class='time'>20&#45;20:30</span> Meditation (A)* -->
  <!--       </td> -->
  <!--       <td> -->
  <!--         <span class='time'>06:30&#45;10</span> Mysore style (A &#38; E) -->
  <!--       </td> -->
  <!--       <td> -->
  <!--         <span class='time'>07&#45;08:30</span> Primary series led class (E) -->
  <!--         <span class='time'>20&#45;20:30</span> Meditation (A)* -->
  <!--       </td> -->
  <!--       <td> -->
  <!--         <span class='time'>08:30&#45;10</span> Mysore style (E) -->
  <!--       </td> -->
  <!--       <td> -->
  <!--         <span class='time'>08:30&#45;10</span> Mysore style (A) -->
  <!--       </td> -->
  <!--   </tbody> -->
  <!-- </table> -->
</div>
