---
title: Ashtanga Yoga 3miasto
---
<div class="container inner" id="slider">
  <div class="slider-pro main-slider">
    <div class="sp-slides">

      <div class="sp-slide"> <img class="sp-image" src="style/images/blank.gif"  data-src="/images/together.jpg" alt="" /></div>
      <div class="sp-slide"> <img class="sp-image" src="style/images/blank.gif"  data-src="/images/garbha.jpg" alt="" /></div>
      <div class="sp-slide"> <img class="sp-image" src="style/images/blank.gif"  data-src="/images/ekapada.jpg" alt="" /></div>
    </div>
    </div>
  </div>
  <div class="divide100"></div>
  <div class="container inner">
  <div class="row brick-wall">
    <div class="brick col-sm-4"> <a href='ashtanga.html'><img class="brick-image" src="/images/ashtanga_info.jpg" alt="ashtanga info" /> <h3>Ashtanga yoga</h3></a></div>
    <div class="brick col-sm-4"> <a href='beginners_info.html'><img class="brick-image" src="/images/beginners_info.jpg" alt="artur ekam" /> <h3><%= t('menu.beginners_info') %></h3></a> </div>
    <div class="brick col-sm-4"><a href='class_schedule.html'><img class="brick-image" src="/images/contact_us.jpg" alt="Eloisa with hear foot at her ear" /> <h3><%= t('menu.schedule_title') %></h3></a> </div>
  </div>
  <div class='row brick-wall'>
    <div class="brick col-sm-4"><a href='events.html'><img class="brick-image" src="/images/events.jpg" alt="Artur in ubhaya padangustasana" /></a> <h3><%= t('menu.events') %></h3> </div>
    <div class="brick col-sm-4"><a href='teachers.html'><img class="brick-image" src="/images/about_us.jpg" alt="arturand eloisa doing upluthih" /><h3><%= t('menu.about_ay3') %></h3></a></div>
    <div class="brick col-sm-4"><a href='contact.html'><img class="brick-image" src="/images/schedule.jpg" alt="eloisa doing kapotasana" /> <h3><%= t('menu.contact') %></h3></a> </div>
  </div>
</div>
</div>

<div class="container inner">
  <h1>Welcome to Ashtanga Yoga 3miasto</h1>
  <p>Ashtanga Yoga 3miasto is dedicated to the study of Yoga in the lineage of our teacher Sri K. Pattabhi Jois (1915-2009) and his grandson R.Sharath Jois. Daily practice is the cornerstone on the yogic path and you will find a dynamic and deeply rooted approach to Patanjali’s eight limbs of classical yoga. At Miami Life Center you have access to yoga classes, workshops and intensives from early morning to late evening. We teach in a traditional setting where yoga postures, breathing, alignment, meditation and philosophy are taught and cultivated. Our well educated body of teachers all travel to India yearly for continued studies and we believe you will find their knowledge unparalleled. Join both beginner and advanced practitioners alike in our friendly and light hearted yoga shala.</p>
</div>


